body{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin:0%;
}

.sizeSelection{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:300px;

    margin:10px;
}
.board{
    display:flex;
    flex-direction:column;
}
.grid{
    display:grid;
    height:600px;
    width:500px;
    border:1px solid black;
    margin:20px 20px;
    
    
}

.buttons{
    display:flex;
    width:500px;
    justify-content:space-between;
    align-items: center;
    margin:20px 20px;
}